
.app {

	height: 532px;
	display: flex;
	align-items: center;
	background-color: #292f34;
}

.grid-box {
	border: 1px solid #FEE501;
}
#gameboard-title {
	padding: 10px;
	background-color: #00BE5F;
	color: white;
	text-align: center;
	margin: 0;
}

.gameboard {
	border-bottom: 1px solid white;
	border-bottom: 1px solid;
	display: grid;
	height: 532px;
	width: 100%;
	grid-template-columns: 9.1% 9.1% 9.1% 9.1% 9.1% 9.1% 9.1% 9.1% 9.1% 9.1% 9.1%;
}



.virus {

	background-color: #292f34 ;
	background-image: url("../icons/SARS-CoV-2_without_background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.scoreboard-wrapper {
	position: absolute;
	right: 10px;
	top: 10px;
	bottom: 10px;
	width: 15%;
	max-width: 100%;
	background-color: rgba(0, 0, 0, 0.46);
	border-radius: 10px;
}

.scoreboard-title {
	border-radius: 5px 5px 0 0;
	padding: 10px;
	background-color: #5447FF;
	color: white;
	text-align: center;
}

.scoreboard-list {
	margin-top: 10px;
	padding: 0;
	text-align: center;
}
.scoreboard-list > span{
	color: white;
	font-size: 36px;
}

.scoreinfo {
	padding: 5px 0;
}


#scoreboard-list {

	list-style-type: none;
	padding: 0;
	text-align: center;;
}

.rounds {
	font-weight: bold;
	font-size: 18px;
	color:#00BE5F;
}

.scoreinfo {
	padding: 15px 0 0 0;
}

.friend,
.foe {
	color: white;
	font-size: 16px;
}

.rematch,
.lobby {
	position: absolute;
	padding: 15px 20px;
	background-color: green;
	color: white;
	width: 100%;
	border-radius: 5px;
	border:none;
}

.lobby {
	bottom: 60px;
}

.rematch {
	bottom: 10px;
}

.round-wrapper {
	/* background-color: #00BE5F; */
	padding: 5px 0;
	width: 90%;
	margin:auto;
	color: rgb(255, 255, 255);
	border-radius: 5px;
}

.winner-title,
.winner-name {
	font-size: 16px;
	font-weight: bold;
}

.reaction {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	border-bottom: 1px solid rgb(255, 255, 255);
	width: 50%;
	margin:auto;
}

.player-time,
.opponent-time,
.player-name,
.opponent-name {
	font-size: 12px;
	font-weight: bold;

}



