.game-over {
	background-color: #292f34;
	height: 532px;
}

.game-over__title {
	text-align: center;
	color: white;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 70px;
	padding-top: 60px;
}

/*Left side*/

.game-over__player-stats-title, .game-over__round-breakdown-title {
	font-size: 28px;
	font-weight: bold;
	color: white;

}

.game-over__player-stats-text {

	margin-bottom: 10px;
	display: block;
	font-size: 20px;
	margin-right: 10px;
	color: white;
}

.game-over__player-stats-text:last-child {
	margin-bottom: 0;
	margin-right: 0;
}


/*Right side*/
.game-over__round-breakdown-title {
	text-align: center;
	margin-bottom: 10px;
}

.game-over__round-breakdown-circle-box {
	width: 200px;
	margin: 0 auto;
}
.game-over__round-breakdown-circle {
	width: 26px;
	height: 26px;
	border-radius: 100%;
	margin-right: 10px;
	margin-bottom: 10px;

}

.game-over__round-breakdown-circle:last-child,.game-over__round-breakdown-circle:nth-child(5) {
	margin-right: 0;
}
.game-over__round-breakdown-circle:nth-child(6){

}
/*Buttons*/

.game-over__btn-return-to-lobby , .game-over__btn-go-again {
	margin-top: 20px;
	color: white;
	border-radius: 10px;
	padding: 24px 16px;
	font-size: 24px;
	font-weight: bold;
	border: none;
	background-color: #353D44;
}
.game-over__btn-return-to-lobby {
	margin-right: 10px;
}
#myChart {
	height: 200px;
}
