.previous-games-page {
    background-color: #F3F4F5;
}
.previous-games-page-completed-title, .previous-games-page-live-title {
    padding: 10px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
    color: #3F4952;
}
.previous-games-page-live-card,.previous-games-page-completed-card {
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    background: #5447FF;
    width: 260px;
    box-shadow: 0 4px 4px 0 #00000040;
	border-radius: 5px;
}

.previous-games-page-live-players, .previous-games-page-live-score {
    color: #fff;
    font-size: 24px;

}
