.start-page__title {
	font-size: 36px;
	color: #353D44;
	text-align: center;
	font-weight: 900;
	margin-top: 50px;
}

.start-page__from-group {
	margin-top: 60px;
	position: relative;

}

.start-page__input {
	width: 600px;
	padding: 20px;
	outline: none;
	display: block;
	border: none;
	border-radius: 5px;
	margin: 0 auto;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.start-page__input-btn {
	position: absolute;
	top: 2px;
	right: 100px;
	background-color: #00BE5F;
	font-weight: 900;
	color: white;
	font-size: 26px;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 15px;
	animation: pulse 2s infinite;
}

.start-page__btn-group {
	width: 600px;
	margin: 0 auto;
}

.start-page__btn-fastest-reaction, .start-page__btn-previous-games {
	color: white;
	background: #3F4952;
	border: none;
	border-radius: 5px;
	font-size: 36px;
	padding: 10px;
}

.start-page__btn-fastest-reaction:hover, .start-page__btn-previous-games:hover {
	background: #2e343b;
}
.loading {
	margin-right: 10px;
	width: 24px;
}
