/*FONTS IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&family=Signika:wght@300&display=swap');
/*CSS IMPORTS*/
@import url('./min.css');
@import url('./startPage.css');
@import url('./previousGames.css');
@import url('./leaderboard.css');
@import url('./animation.css');
@import url('./game.css');
@import url('./gameover.css');

/*------------MAIN SETTINGS------------*/

/*MAIN FONT*/
body {
	font-family: 'Signika', sans-serif;
	background-color: #5447FF;
}

body:after {
}

/*HIDE */
.hide {
	display: none
}

/*WINNER and LOSER*/
.winner {
	background: #00BE5F;
}

.loser {
	background: #BE3900;

}

/*Places*/
.first__place {
	color: #FEE501;
	border: 1px solid #FEE501
}

.second__place {
	color: #c0cad0;
	border: 1px solid #c0cad0
}

.third__place {
	color: #BE3900;
	border: 1px solid #BE3900
}

.other__place {
	color: #353D44;
}

/*The Virus Game TITLE ON TOP*/
.game_name {
	font-family: 'Rock 3D', cursive;
	font-size: 64px;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	text-transform: uppercase;
}


/*BROWSER LIKE WINDOW*/
.main-window {
	background-color: #F3F4F5;
	border-radius: 10px;
	border: 10px solid #353D44;
	width: 1000px;
	height: 600px;
	position: relative;
	box-shadow: 0 4px 4px 0 #00000040;
}

.main-window__bar-circle-red, .main-window__bar-circle-yellow, .main-window__bar-circle-green {
	width: 20px;
	height: 20px;
	border-radius: 100%;

}

.main-window__bar {
	background-color: #353D44;
}

.main-window__bar-circle-red {
	background-color: #BE3900;
	margin-right: 5px;
}

.main-window__bar-circle-yellow {
	background-color: #BEAB00;
	margin-right: 5px;
}

.main-window__bar-circle-green {
	background-color: #00BE5F;
	margin-right: 20px;
}

.main-window__bar-link {
	margin-left: 20px;
	color: #fff;
	padding: 10px;
}

.main-window__bar-link-box {
	margin: 6px;
	border-radius: 100px;
	width: 780px;
	background-color: #3F4952;
	height: 36px;
}

.main-window__back-button-1, .main-window__back-button-2 {
	border: none;
	color: white;
	background: #00BE5F;
	width: 80px;
	border-radius: 200px;
	padding: 10px
}

.main-window__back-button-1:hover, .main-window__back-button-2:hover {
	border: none;
	color: white;
	text-align: center;
}

.grid-box {
	border: 1px solid #FEE501;
}

@media only screen and (max-width: 1600px) {
	.start-page__input {
		width: 400px;
	}
	.start-page__input-btn {
		right: 40px;
	}
	.main-window {
		width: 600px;
		height: 500px;
	}

	#scoreboard-list-1, #scoreboard-list-2 {
		height: 500px;
	}
	.main-window__bar-link-box {
		width: 400px;
	}
	.app {
		height: 432px;
	}
	.gameboard {
		height: 400px;
	}
}

